
@font-face {
  font-family: 'PT Serif original';
  src: url('../fonts/Futura PT/FUTURAREGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif original';
  src: url('../fonts/Futura PT/FUTURABOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

h2, h3, span, a {
  font-family: 'PT Serif original';
  font-weight: 700;
}

h1 {
    font-family: 'Futura PT', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.47;
  font-weight: 700;
}

/*----------------------общие стили---------------------*/
.container{
	width: 1280px;
	margin: 0 auto;
}


/*-------------------------promo----------------------------*/
.promo {
	padding-top: 100px;
	padding-bottom: 370px;
	background-image: url('../img/as_ski_CS_23112011_fabio_studer_nordica_kt_0003.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center bottom;
}

.promo-title{

  width: 458px;
  height: 99px;
  font-family: FuturaPT;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}

.after-title{
  width: 353px;
  height: 37px;
  font-family: FuturaPT-Demi;
  font-size: 38px;
  line-height: 1.05;
  text-align: left;
  color: white;
}


/*--------------------------------header--------------------*/
.page-header{
  max-width: 1280px;
}

.logo{
  padding: 37px 0 0 60px;
  display: inline-block;
}

.main-nav{
  display: inline-block;
  width: 650px;
  vertical-align: top;
}

.main-nav-list{
  max-width: 1280px;
  vertical-align: top;
  padding-top: 67px;  
  padding-left: 0;
  margin: 0 auto;
}

.main-nav-list-link{
  display: inline-block;
    margin-left: 32px;
}

.main-nav-list-link-linker{
  padding-left: 10px;
  color: 000;
  font-family: FuturaPT;
  font-size: 15px;
  color: #111111;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

.main-nav-list .main-nav-list-link-linker:hover {
  border-bottom: 3px solid #7be99e;
  padding-bottom: 5px;
}

.profile-col2 .main-nav-list-link-linker:hover {
  border-bottom: 3px solid #7be99e;
  padding-bottom: 5px;
}

.page-header-phone{
  display: inline-block;
  margin: 58px 0;
  padding-left: 40px;
  vertical-align: top;
  width: 190px;
  height: 21px;
  text-decoration: none;
  font-family: FuturaPT-Demi;
  font-size: 22px;
  line-height: 1.59;
  color: #111111;
}

.page-header-btn{
  display: inline-block;
 margin: 10px 0;
 vertical-align: top;
    padding-top: 35px;
    padding-left: 60px;
}

.btn{
  padding: 10px;
  font-family: FuturaPT;
  font-size: 14.9px;
  font-weight: 900;
  line-height: 4.38;
  text-align: left;
  color: #74e196;
  border: solid 2px #000000;
  text-decoration: none;
}

.btn:hover {
  transition:all 0.5s;
    background-color: #7BE99E;
  color: #fff;
  }

  .active{
  border-bottom: 3px solid #7be99e;
  padding-bottom: 5px;
  }





/*--------------------------service-------------------------*/
.service{
  max-width: 1280px;
  padding-left: 60px;
  padding-right: 60px;
}

.section-title{
  text-align: center;
}

.sub-title{
  text-align: center;
}

.service-wrap{
  display: inline-block;
  max-width: 1280px;
}

.service-item{
  width: 360px;
    height: 245px;
    margin: 20px 20px;
    display: inline-block;
    float: left;
    position: relative;
}
.service-item > h3{
  margin: 0;
  display: inline-block;
}

.service-sub{
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.arrow{
  float: right;
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -122px -343px ;
  width: 37px;
  height: 27px;
}


/*----------------------------features--------------------*/
.features{
  
}

.section-title{
  font-size: 40px;
  line-height: 0.88;
}

h3{
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #111111;
}

.features-wrap{
  display: inline-block;
  padding-left: 60px;

}
.features-item{
 width: 360px;
    height: 245px;
    margin: 20px 20px;
    display: inline-block;
    float: left;
  text-align: center;
}
/*------------------------------------features sprites-----------*/
.like{
display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -182px -73px ;
  width: 60px;
  height: 61px;
}

.certificate{
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -409px -234px ;
  width: 53px;
  height: 61px;
}

.today{
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -292px -280px ;
  width: 58px;
  height: 61px;
}

.ski{
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
      background-position: -478px -149px ;
  width: 61px;
  height: 75px;
}

.snowboard-helmet{
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -269px -357px ;
  width: 58px;
  height: 71px;
}

.bus{
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -209px -187px ;
  width: 80px;
  height: 55px;

}


p{
  text-align: left;
  color: #111111;
}


/*------------------------------------offer-------------------*/
.offer{
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111111;
  border: solid 3px #ffffff;
  background-image: url('../img/offer.png');
  max-width: 100%;
  max-height: 362px;
  z-index: 1;
  }

  .offer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,7%,.2);
    z-index: -1;
  }
  .offer > p{
    content: white;
    z-index: ;
  }

.title-white{
  color: white;
}

.offer-wrap{
  width: 100%;
  text-align: center;
  display: inline-block;
}

.offer-item{
      width: 386px;
    margin: 20px 20px;
    display: inline-block;
    float: left;
    padding-left: 21px;
}

.offer-item > p > span{
  font-family: FuturaPT;
  font-size: 20px;
  color: #74e196;
}
.offer-item p{
  font-family: FuturaPT;
  font-size: 20px;
  line-height: 1.15;
  color: white;
}

.btn-border-white{
  position: relative;
  border-color: white;
  z-index: 2;
}

.offer-wrap .btn{
  align-items: center;
}

.offer-btn{
  margin-bottom: 40px;
  text-align: center;
}
/*--------------------------------team------------------------*/

.team{
  max-width: 1280px;
  margin: 0 auto;
}

.team-wrap{
  position: relative;
  margin: 0 114px;
background-image: linear-gradient(to top, #fff, transparent 60%);
}

.team-wrap:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
z-index: -1;
background-repeat: no-repeat;
  background-image: url('../img/team.png');
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center bottom;
}
.team-wrap > p{
  font-family: PTSans;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: #111111;
  padding-top: 423px;
}


/*-------------------------------community-----------------*/

.community{
  max-width: 1280px;
  margin: 0 auto;
}
.community-wrap{
  width: 771px;
  height: 60px;
  padding: 0 60px;
  margin: 0 auto;
  padding-bottom: 43px;
}

.community-wrap p{
  font-family: PTSans;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: #111111;
}
.community > iframe{
  width: 100%;
  height: 360px;
}

.team-wrap .btn{
  margin-top: 573px;
}

/*----------------------------------instagramm---------------*/

.instagram{
  width: 1280px;
  margin: 0 auto;
}

.instagram .section-title a{
  text-decoration: none;
  font-family: FuturaPT-Demi;
  font-size: 40px;
  line-height: 0.88;
  color: #111111;
}
.instagram-wrap{
  padding-left: 44px;
  padding-bottom: 86px;
}

.instagram-item{
  padding-left: 16px;
  display: inline-block;
}

/*----------------------------------footer--------------------*/
.page-footer{
    position: relative;
    padding-top: 63px;
    padding-bottom: 75px;
    width: 100%;
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
}
.page-footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,7%,.2);
  }
  
  .page-footer-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px;
    display: block;
}


.row:first-of-type {
    margin-bottom: 18px;
}

.row{
  max-width: 1280px;
  position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.logo-footer{
  margin-right: 39px;
    padding: 6px 21px;
    border: 0;
}

.social-list{
  display: flex;
  align-items: center;
  height: 40px;
    width: 270px;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    list-style: none;
}

.social-list-l{
      margin-right: 30px;
    padding: 0 6px;
}

.social-link{
  display: block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
}

.youtube-logo{
  background-position: -90px -181px ;
  width: 32px;
  height: 32px;
}

.instagram-logo{
  background-position: -324px -90px ;
  width: 32px;
  height: 32px;
}

.facebook-logo{
  background-position: -406px -117px ;
  width: 18px;
  height: 33px;
}

.vk{
  background-position: -393px -417px ;
  width: 40px;
  height: 24px;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone-link{
    padding: 0;
    padding-top: 3px;
    letter-spacing: 2px;
    text-decoration: none;
  font-family: FuturaPT-Demi;
  font-size: 22px;
  line-height: 1.59;
  color: #111111;
}

.mail-link{
    text-decoration: none;
    font-family: FuturaPT-Demi;
  font-size: 20px;
  line-height: 1.75;
  text-align: left;
  color: #111111;
}

.copyright{
  width: 340px;
    margin: 0;
    padding: 14px 3px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
}

.main-nav-list-footer{
  display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link-footer{
  margin: 0;
    margin-left: 49px;
    padding: 25px 0;
}

.nav-linker-footer{
  font-size: 16px;
    opacity: .8;
}

.nav-linker-footer:hover {
  color: black;
}

/*---------------------------------search-------------------*/

.search {
    box-shadow: 0 0 2px 2px #A9A9A9;
    width: 640px;
    height: 40px;
    font-size: 13px;
    padding: 3px 0 3px 10px;
    border: 1px solid #000;
    margin-left: 350px;
    margin-bottom: 40px;
  }

.search-line {
position: relative;
}

.search-lupa {
    position: absolute;
    right: 370px;
    top: 10px;
    width: 20px;
    height: 20px;
}


/*----------------------instructors-----------------------*/

.instructors {
    width: 1160px;
    margin: 0 auto;
}

.instructors-item {
    position: relative;
    float: left;
    transition: all 1s ease;
}

.instructors-item:hover {
  transition: .5s;
  opacity: 0.8;
}

.instructors-name {
    position: absolute;
    left: 20px;
    bottom: 25px;
    color: #fff;
}

.instructors-item-active {
  width: 232px;
  height: 230px;
  float: left;
  position: relative;
}

.instructors-item-active::before{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(164,251,191,0.4);
}

.instructors-item::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.instructor-name {
  display: block;
  position: absolute;
  left: 18px;
  bottom: 19px;
  font-family:"Futura PT Medium", "Arial", sans-serif;
  font-size: 20px;
  color: #fff;
}
.instructor-name span {
  display: block;
}
.instructors-item-active .instructors-item::before{
  background-color: rgba(164,251,191,0.4);
}
.instructors-item-active span {
  display: none;
}
.instructors-item:hover::before{
  background-color: rgba(164,251,191,0);
}
.instructors-item:active::before{
  background-color: rgba(164,251,191,0.4);
}
.instructors-item:hover span{
  display: none;
}


/*---------------------------instructors profile---------------- */

.container-instructors-profile {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 26px 60px;
    display: block;
}

.instructor-profile{
    margin-top: 60px;
    padding-top: 300px;
}

.instructor-profile-buttons {
    float: right;
    width: 125px;
    height: 270px;
}

.btn-profile {
    float: left;
    margin-top: 10px;
  }

  .btn-extra > span {
    background-image: url(../img/flash.png);
    background-size: 12px 20px;
    background-repeat: no-repeat;
    background-position: 10%;
    display: inline-block;
    border: 2px solid #000;
    padding: 8px 22px 8px 20px;
}

.instructor-profile > img {
    float: left;
    width: 270px;
}

.instructor-profile-info {
    margin-left: 270px;
    margin-right: 125px;
    height: 270px;
    padding-left: 68px;
}

.instructor-profile-info-col {
    width: 140px;
    height: 120px;
    float: left;
}

.instructor-profile-info-col > span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.instructor-profile-info-col > * {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.education {
    margin-top: 40px;
}

.education-video {
    float: right;
    width: 500px;
    height: 279px;
}

.education-info {
    text-align: left;
    margin-right: 500px;
    padding-right: 40px;
}

.clear {
    clear: both;
}

.instructors-review {
    background-image: url(../img/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 225px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
}

.instructors-review h3{
  text-align: left;
  float: left;
}

.instructors-review p {
  clear: both;
    margin-right: 200px;
    font-size: 15px;
    line-height: 20px;
}

.review-vk{
  margin-top: 20px;
  margin-left: 20px;  
  display: inline-block;
    font-size: 0;
    text-decoration: none;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
  background-position: -393px -417px ;
  width: 40px;
  height: 24px;
}

/*-------------------------instructors footer-------------*/
.instructors-footer {
    width: 1160px;
    margin: 0 auto;
    background-color: #ABABAB;
    margin-bottom: 40px;
}
.instructors-name {
    position: absolute;
    left: 20px;
    bottom: 25px;
    color: #fff;
}

/*---------------------------------shedule------------------*/

.schedule {
  padding: 20px 60px;
  }

  td {
    font-family: PTSans;
  line-height: 1.47;
  color: #111111;
  font-weight: 700; 
  }

  .schedule-table {
  border-collapse: collapse;
  min-width: 100%;
}

.schedule-table th, .schedule-table td {
  border: 2px solid #000;
  padding: 10px;
  font-size: 16px;
}

.schedule-table th {
  border: none;
  text-align: left;
  padding: 10px 0;
}

.btn-table {
  color: #7BE99E;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;  
}

.schedule-table tbody tr td:last-child {
  text-align: center;
  padding: 0;
}

.instructors-name-shed {
  text-decoration:  none;
  font-family: PTSans;
  font-size: 15px;
  line-height: 1.47;
  color: #111111;
}


/*----------------------profile level----------------*/
.profile-level{
  width: 1160px;
    margin: 0 auto;
}

.profile-level-wrape {
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 47px;
    border: 2px solid #111;
    font-size: 0;
}

.profile-col1 {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 60px;
    width: 360px;
    vertical-align: top;
}

.profile-img {
    position: relative;
    width: 194px;
    border: 3px solid #74e196;
    border-radius: 97px;
}

.profile-img-title {
    position: relative;
    left: -2px;
    top: -36px;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #000;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    line-height: 16px;
}

.profile-col2 {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 130px;
    width: 600px;
    vertical-align: top;
}

.profile-title {
    margin-bottom: 7px;
    font-size: 30px;
    font-family: "Futura PT Heavy", "Arial", sans-serif;
    text-align: left;
    color: #111;
}

.profile-abon {
    margin-bottom: 17px;
    margin-top: 18px;
    font-size: 20px;
    font-family: "Futura PT Heavy", "Arial", sans-serif;
    text-align: left;
    color: #111;
}

.profile-more {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #111;
}

.profile-col3 {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 5px;
    width: 190px;
    vertical-align: top;
}

.profile-price {
    margin-bottom: 29px;
    font-size: 30px;
    font-family: "Futura PT Heavy", "Arial", sans-serif;
    text-align: left;
    color: #111;
}

.btn-profile-private {
    padding-left: 34px;
    padding-right: 34px;
}

/*-------------pagination----------*/

.container-profile-level-pages {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 57px;
    text-align: center;
}

.profile-level-pages {
    display: inline-block;
    list-style: none;
}

.pagination-item:first-child {
    margin-right: 15px;
}

.pagination-item:last-child{
  margin-left: 15px;
}

.pagination-item {
    display: inline-block;
    vertical-align: middle;
}

.pagination-link {
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    font-family: "Futura PT Heavy", "Arial", sans-serif;
    text-align: left;
    color: #111;
}

.prev{
  display: inline-block;
}

.pagination-link-active {
    color: #74e196;
}

/*-------------form----------*/

.form {
  margin:  0 auto;
    max-width:  540px;
    padding-bottom: 60px;
}

.form span {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 30px;
}

.form-info {
  margin-bottom: 40px;
}


.form input {
  box-shadow: 0 0 2px 2px #A9A9A9;
  width: 555px;
  height: 45px;
  font-size: 20px;
  border: 1px solid #000;
}

textarea {
  box-shadow: 0 0 2px 2px #A9A9A9;
  width: 555px;
  height: 120px;
  font-size: 20px;
  border: 1px solid #000;
}

.form a {
  text-align: center;
  margin-left: 230px;
  margin-bottom: 40px;
}
