body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



/*общие стили*/
.container{
	width: 1280px;
	margin: 0 auto;
}


/*promo*/
.promo {
	padding-top: 100px;
	padding-bottom: 370px;
	background-image: url('../img/as_ski_CS_23112011_fabio_studer_nordica_kt_0003.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center bottom;
}

.promo-title{

  width: 458px;
  height: 99px;
  font-family: FuturaPT;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}

.after-title{
  width: 353px;
  height: 37px;
  font-family: FuturaPT-Demi;
  font-size: 38px;
  line-height: 1.05;
  text-align: left;
  color: white;
}


/*header*/
.page-header{
  width: 100%;
}

.logo{
  padding: 37px 0 0 60px;
  display: inline-block;
}

.main-nav{
  display: inline-block;
  width: 700px;
  padding: 10px;
  margin: 30px;
  margin-left: 0;
  vertical-align: top;
}

.main-nav-list{
  width: 100%;
  vertical-align: top;
}

.main-nav-list-link{
  display: inline-block;
    margin-left: 38px;
}

.main-nav-list-link-linker{
  color: 000;
  font-family: FuturaPT;
  font-size: 15px;
  color: #111111;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

.page-header-phone{
  display: inline-block;
  margin: 50px 0;
  vertical-align: top;
  width: 190px;
  height: 21px;
  text-decoration: none;
  font-family: FuturaPT-Demi;
  font-size: 22px;
  line-height: 1.59;
  color: #111111;
}
/*???????????????????????????????????????????????/*/
.page-header .btn{
  
}

.page-header-btn{
  display: inline-block;
 margin: 10px 0;
}

.btn{
  padding: 10px;
  font-family: FuturaPT;
  font-size: 14.9px;
  font-weight: 900;
  line-height: 4.38;
  text-align: left;
  color: #74e196;
  border: solid 2px #000000;
  text-decoration: none;
}



/*service*/
.service{
  width: 1240px;
  padding-left: 60px;
  padding-right: 60px;
}

.section-title{
  text-align: center;
}

.sub-title{
  text-align: center;
}

.service-wrap{
  display: inline-block;
  width: 100%;
}

.service-item{
  margin: 40px 20px;
  vertical-align: top;
  width: 360px;
  height: 244px; 
  display: inline-block;
}

.service-subtext{
  padding-bottom: 10px;
}

/*features*/
.features{
  width: 100%;
}

.section-title{
  font-family: FuturaPT-Demi;
  font-size: 40px;
  line-height: 0.88;
}

h3{
  font-family: FuturaPT;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  color: #111111;
}

.features-wrap{
  display: inline-block;
  width: 100%;
  padding-left: 60px;
  padding-right: 70px;
}
.features-item{
  margin: 40px 20px;
  vertical-align: top;
  width: 360px;
  height: 244px; 
  display: inline-block;
}

p{
  font-family: PTSans;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #111111;
}


/*offer*/
.offer{
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111111;
  border: solid 3px #ffffff;
  background-image: url('../img/offer.png');
  margin: 0 auto;
  }

.title-white{
  color: white;
}

.offer-wrap{
  width: 100%;
  text-align: center;
}

.offer-item{
 margin: 40px 20px;
  vertical-align: top;
  width: 360px;
  height: 244px; 
  display: inline-block; 
}

.offer-item p{
  font-family: FuturaPT;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
}

.btn-border-white{
  border-color: white;
}

.offer-wrap .btn{
  align-items: center;
}

.offer-btn{
  margin-bottom: 40px;
  text-align: center;
}
/*team*/

.team{
  width: 1280px;
  margin: 0 auto;
}

.team-wrap{
  position: relative;
  margin: 0 114px;
background-image: linear-gradient(to top, #fff, transparent 60%);
}

.team-wrap:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
z-index: -1;
background-repeat: no-repeat;
  background-image: url('../img/team.png');
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center bottom;
}
.team-wrap > p{
  font-family: PTSans;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: #111111;
  padding-top: 423px;
}

/*community*/

.community{
  width: 100%;
}
.community-wrap{
  padding: 0 60px;
}

.community-wrap p{
  font-family: PTSans;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: #111111;
}
iframe{
  width: 100%;
  height: 360px;
}

.team-wrap .btn{
  margin-top: 573px;
}

/*instagramm*/

.instagram{
  width: 100%;
}

.instagram .section-title a{
  text-decoration: none;
  font-family: FuturaPT-Demi;
  font-size: 40px;
  line-height: 0.88;
  color: #111111;
}
.instagram-wrap{
  padding-left: 44px;
}

.instagram-item{
  padding-left: 16px;
  display: inline-block;
}

/*footer*/
.page-footer{
  margin-top: 86px;
  width: 100%;
  height: 306px;
  background-image: url(../img/footer.png); 
  background-repeat: no-repeat;
}
.row{
  width: 100%;
  height: 50%;
  display: inline-block;
}
.row img{
  padding-top: 58px;
  padding-left: 62px;
}

.social{
  padding-top: 70px;
  text-align: center;
  display: inline-block;
}


.social-list{
  display: inline-block;
}

.social-list-l{
  display: inline-block;
    margin-left: 38px;
}