body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



/*общие стили*/
.container{
	width: 1160px;
	margin: 0 auto;
}


/*promo*/
.promo {
	padding-top: 100px;
	padding-bottom: 370px;
	background-image: url('../img/as_ski_CS_23112011_fabio_studer_nordica_kt_0003.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center bottom;
}


.promo-title {
  width: 458px;
  height: 99px;
  font-family: FuturaPT;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}
/*????????????????????????????????????????????????????/*/
.promo-title span {
  width: 353px;
  height: 37px;
  font-family: FuturaPT-Demi;
  font-size: 38px;
  line-height: 1.05;
  text-align: left;
  color: #ffffff;
}

/*header*/
.page-header{
  width: 1160px;
}

.logo{
  float: left;
  padding: 37px 0 0 60px;
	}


.main-nav{
  width: 638px;
  float: left;
	vertical-align: top;
  margin: 25px;
}

.main-nav-list{  
}


.main-nav-list-link{
	margin: 20px;
  list-style: none;
  display: inline-block;

}

.main-nav-list-link-linker{
  text-decoration: none;
 font-family: FuturaPT;
  font-size: 15px;
  font-weight: 500;
  color: #111111;
}

.page-header-phone{
  padding: 59px 0 0 0;
  float: left; ;
  text-decoration: none;
  font-family: FuturaPT-Demi;
  font-size: 22px;
  line-height: 1.59;
  text-align: left;
  color: #111111;
}

.btn{
  width: 132px;
  float: left;
  line-height: 60px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  border: solid 2px #000000;
  float: left;
  font-family: FuturaPT;
  font-size: 14.9px;
  font-weight: 900;
  line-height: 4.38;
  color: #74e196;

}

.service{
  width: 1280px;
}
.section-title{
  display: block;
  font-family: FuturaPT-Demi;
  font-size: 40px;
  line-height: 0.88;
  text-align: center;
  color: #111111;
}

.sub-title{
  display: block;
  font-family: FuturaPT;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  color: #111111;
}

.service-wrap{
  width: 1280px;
}
.service-item{
  float: left;
}



